html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.scroll-spacer {
  block-size: 100vh;
  position: relative;
}

.experiments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}

.experiment-card {
  background-color: #e5ff54;
  border: 2px solid black;
  color: black;
  min-block-size: 300px;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  transition: background-color 0.2s ease-in-out;
  position: relative;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }

  &:hover {
    background-color: white;

    h3 {
      transform: translate(0, -10px);
    }

    .experiment-pill {
      background-color: #e5ff54;
    }
  }

  h3 {
    margin: 0;
    text-align: end;
    transition: transform 0.2s ease-in-out;
  }
}

.experiment-pill {
  justify-self: flex-start;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}
